header {
    background-color: rgb(89, 0, 255);
    padding: 10px;
    color: white;
    font-size: 20px;
}
header span {
    padding: 10px;
    margin: 0 10px;
    font-weight: 500;
}
header a {
    padding: 10px;
    text-decoration: none;
    color: white;
}
header a:hover {
    background-color: rgb(132, 73, 243);
    text-decoration: underline;
}
.Content {
    text-align: center;
}

.WordPairs {
    width: 450px;
    margin: 10px auto;
}
.WordPair {
    display: grid;
    grid-template-columns: 42px auto 42px 60px;
}
.WordContainer {
    display: flex;
}
.WordInLanguage1,
.WordInLanguage2 {
    padding: 5px 10px;
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.WordInLanguage1 {
    text-align: left;
}
.WordInLanguage2 {
    text-align: right;
}

.Languages {
    display: grid;
    grid-template-columns: 42px auto 102px;
}
.LanguageContainer {
    display: flex;
}
.LanguageContainer span {
    width: 50%;
}
